<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <form class="" action="" method="post">
        <table>
            <tr>
                <td>
                    Username :
                </td>
                <td>
                    <input type="text" name="uname" placeholder="Username">
                </td>
            </tr>
            <tr>
                <td>

                    Password :
                </td>
                <td>
                    <input type="password" name="pass" value="" placeholder="Password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="name" value="Login">
                </td>
                <td>
                    <input type="button" name="name" value="Register" onclick="location.href= './register'">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
